DATABASE_URL=jdbc:postgresql://localhost:15432/gourmetgate
DATABASE_SHEMA=public
POSTGRES_PASSWORD=${password}
POSTGRES_USER=${username}
POSTGRES_DB=gourmetgate
PRIVATE_KEY=${private_key}
PUBLIC_KEY=${public_key}
